@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;900&family=Source+Serif+Pro:ital,wght@1,600&display=swap');

/* Variables for reusability */
:root {
    --color-primary: #0e1217;
    /* --color-primary-light: #c07a5b; */
    --color-bg: #000000;
    --color-bg-hover: #2d313a;
    --color-bg-post: #1c1f26;
    --color-text-light: #ffffff;
    --color-scrollbar: #a8b3cf;
    --font-primary: 'Jost', sans-serif;
    --font-secondary: 'Source Serif Pro', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    background-color: var(--color-scrollbar);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(120deg, #fff, var(--color-bg), rgb(62, 143, 55));
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: var(--color-text-light);
}

body {
    background-image: url("./night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: var(--font-primary);
    position: relative;
    /* background-color: var(--color-bg-light); */
}






nav {
    position: sticky;
    top:0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--color-bg);
    color: var(--color-text-light);
    padding: 10px;
    border-bottom: 1px solid var(--color-scrollbar);
    z-index: 10;
}

nav .logo {
    width: 100px;
    padding: 4px 10px;
}

nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-hover);
    border-radius: 6px;
    padding: 6px;
    gap: 6px;
}
nav span a {
    width: 120px;
    padding: 4px 8px;
    text-decoration: none;
    color: var(--color-text-light);
    border-radius: 6px;
    text-align: center;
    border: 0.8px solid var(--color-scrollbar);
}

nav span .login-link {
    background-color: var(--color-bg);
    border: 0.8px solid var(--color-bg);
}

nav span .register{
    border: 0.8px solid #dddddd4b;
}
nav span .register:hover{
    background-color: var(--color-bg);
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: var(--color-bg); */
    padding: 10px;
}

.container .post {
    position: relative;
    width: 300px;
    height: 400px;
    border: 0.8px solid #0000004b;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg-post);
    color: var(--color-text-light);
    gap: 10px;
}

.container .post .info {
    width: 100%;
    height: 30px;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.8px solid #0000004b;
}

.container .post .content {
    padding: 10px;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 2rem;
}

.container .post .content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .post .content p {
    padding: 10px;
    height: 250px;

}

.container .post .reaction {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.container .post .reaction .comment {
    background: none;
    border: none;
    color: var(--color-text-light);
}

.container .post .reaction .likes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .post .reaction .likes div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-light);
    font-size: 18px;
}

.container .post .reaction .likes div span {
    padding: 2px 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap :8px;

}

.container .post .reaction .likes div button {
    border: none;
    outline: none;
    background: none;
}

.container .post .reaction .likes div span button i {
    color: var(--color-text-light);
    font-size: 18px;
}

.container .post .reaction .likes div span button i:hover {
    color: blue !important;
}

/* ---------------------- */
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    justify-content: center; /* Center modal horizontally */
    align-items: center; /* Center modal vertically */
}

.modal-content {
    background-color: white;
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Modal width */
    max-width: 600px; /* Maximum width */
    overflow-y: auto; /* Allow scrolling for long content */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* ------------------------------ */

/* --------------------------------- */
/* fire effect */
canvas {
    z-index: 1000;
    display: block; 
    left: 50%;
    margin: -150px 100px 100px -100px;
    position: absolute;
    top: 50%;
  }