<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="/static/script/script.js" type="module"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/indexstyle.css">
    <title>Forum</title>
</head>
<body>
    <nav>
        <div class="logo">FORUM</div>
    </nav>
    <div class="main-container">
        <div class="sidebar">
            <div class="category-select">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#" class="active">All Topics</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Gaming</a></li>
                    <li><a href="#">Movies</a></li>
                </ul>
            </div>
        </div>
        <div class="posts-container" id="container">
        </div>
    </div>
</body>
</html>