:root {
  --background-primary: #121212;
  --background-secondary: #1c1c1c;
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --accent-color: #3182ce;
  --border-color: #2c2c2c;
  --hover-color: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color:var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border: 1px solid #ffffff50;
  border-radius: 12px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
  user-select: none;
  line-height: 1.6;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.post-stats-icon {
  width: 20px;
  height: 20px;
  transition: stroke 0.3s ease;
}

.post-stats-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.post-stats-button:hover .post-stats-icon {
  stroke: var(--accent-color); /* Change color on hover */
}

.post-stats-button:hover {
  background-color: var(--hover-background); /* Subtle hover effect */
}

/* Active/Voted state */
.post-stats-button.active .post-stats-icon {
  stroke: var(--text-primary);
  fill: var(--accent-color);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  
}
