.main-content {
  width: 100%;
  height: calc(100vh - 71px);
  max-height: 100%;
  display: flex;
  overflow: hidden;
}

.posts-box{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.posts-grid {
  position: relative;
  height: 100%;
  width: calc(100% - 250px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  gap: 10px;
  overflow-y: scroll;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    height: calc(100vh - 71px);
    flex-direction: column;
    margin: 0;

  }
  .posts-box{
    height: 100%;
    padding-bottom: 50px;
    width: 100%;
  }
  .posts-grid{
    width: 100%;
    height: 100%;
  }
  .sidebar {
    display: none;
  }
}
